GOOGLE_API_KEY=
OPENAI_API_KEY= 
SARVAM_API_KEY=
GROQ_API_KEY=
CARTESIA_API_KEY=
GLADIA_API_KEY=
TOGETHER_API_KEY=
PLIVO_AUTH_ID=
PLIVO_AUTH_TOKEN=
ZOHO_CRM_CLIENT_ID=
ZOHO_CRM_CLIENT_SECRET=
ZOHO_CRM_REDIRECT_URL=
CODE=
ZOHO_ACCESS_TOKEN=
ZOHO_REFRESH_TOKEN=
ZOHO_API_URL=
ZOHO_AUTH_URL=
